<%- include('./partials/header.ejs') %>

    <body class='vsc-initialized bg-dark'>

        <div class="signup-form rounded">
            <form action="/examples/actions/confirmation.php" method="post">
                <h2 class='text-secondary'> Cadastre-se </h2>
                <p class="hint-text">Crie a sua conta. É grátis é só leva um minuto! </p>
                <div class="form-group">
                    <div class="col"><input type="text" class="form-control" name="first_name" placeholder="Nome completo"
                            required="required"></div>
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" name="email" placeholder="Email" required="required">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="password" placeholder="Senha"
                        required="required">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="confirm_password" placeholder="Confirme a sua senha"
                        required="required">
                </div>
                <div class="form-group">
                    <label class="form-check-label"><input type="checkbox" required="required"> Eu aceito os <a class='text-muted'
                            href="#">Termos de Uso</a> &amp; <a class='text-muted' href="#">Políticas de Privacidade</a></label>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Registrar</button>
                </div>
            </form>
            <div class="retornar-login text-center">Já tem uma conta? <a href="#">Entre agora</a></div>
        </div>

        <%- include('./partials/footer.ejs') %>