<%- include('./partials/header.ejs') %>

    <body class='vsc-initialized bg-dark'>

        <div class="cadastrar-curriculo container text-muted">
            <div class="row">
                <h1>Cadastre seu currículo</h1>
                <hr>
            </div>
            <div class="row">
                <div class="col-md-3">Preencha as suas informações no formulário ao lado e após finalizar verifique o
                    resultado ao final da página!</div>

                <div class="col-md-9">
                    <form>
                        <div class="panel-body">
                            <div class="form-group">

                                <div class="col-md-11 control-label">
                                    <p class="help-block text-danger">
                                        <h11>*</h11> Campo Obrigatório
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label" for="Nome">Nome <h11>*</h11></label>
                                <div class="col-md-6">
                                    <input id="Nome" name="Nome" placeholder="" class="form-control input-md"
                                        required="" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label" for="Nome">Profissão <h11>*</h11></label>
                                <div class="col-md-4">
                                    <input id="Nome" name="Nome" placeholder="" class="form-control" required="" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label" for="Nome">GitHub <h11>*</h11></label>
                                <div class="col-md-4">
                                    <input id="Nome" name="Nome" placeholder="" class="form-control" required="" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label" for="Nome">LinkedIn <h11>*</h11></label>
                                <div class="col-md-4">
                                    <input id="Nome" name="Nome" placeholder="" class="form-control" required="" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label" for="Nome">LinkedIn <h11>*</h11></label>
                                <div class="col-md-4">
                                    <input id="Nome" name="Nome" placeholder="" class="form-control" required="" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="uf">UF</label><br>
                                <select id="uf" name="uf" class='form-control'>
                                    <option disabled selected>Selecione UF</option>
                                    <option value="AC">Acre</option>
                                    <option value="AL">Alagoas</option>
                                    <option value="AP">Amapá</option>
                                    <option value="AM">Amazonas</option>
                                    <option value="BA">Bahia</option>
                                    <option value="CE">Ceará</option>
                                    <option value="DF">Distrito Federal</option>
                                    <option value="ES">Espírito Santo</option>
                                    <option value="GO">Goiás</option>
                                    <option value="MA">Maranhão</option>
                                    <option value="MT">Mato Grosso</option>
                                    <option value="MS">Mato Grosso do Sul</option>
                                    <option value="MG">Minas Gerais</option>
                                    <option value="PA">Pará</option>
                                    <option value="PB">Paraíba</option>
                                    <option value="PR">Paraná</option>
                                    <option value="PE">Pernambuco</option>
                                    <option value="PI">Piauí</option>
                                    <option value="RJ">Rio de Janeiro</option>
                                    <option value="RN">Rio Grande do Norte</option>
                                    <option value="RS">Rio Grande do Sul</option>
                                    <option value="RO">Rondônia</option>
                                    <option value="RR">Roraima</option>
                                    <option value="SC">Santa Catarina</option>
                                    <option value="SP">São Paulo</option>
                                    <option value="SE">Sergipe</option>
                                    <option value="TO">Tocantins</option>
                                    <option value="EX">Estrangeiro</option>
                                </select>
                            </div>
                            



                        </div>







                        <div class="form-group">
                            <label class="col-md-2 control-label" for="Cadastrar"></label>
                            <div class="col-md-8">
                                <button id="Cadastrar" name="Cadastrar" class="btn btn-success px-4 py-2" type="Submit">Cadastrar</button>
                                <button id="Cancelar" name="Cancelar" class="btn btn-danger px-4 py-2" type="Reset">Cancelar</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>

        <%- include('./partials/footer.ejs') %>