<%- include('./partials/header.ejs') %>

<body class='bg-dark'>
<div class="container my-2">
  <div class="row p-4 pt-2 pb-0 pe-lg-0 align-items-center rounded-3 border shadow-lg">
    <div class="main-index col-lg-7 p-lg-5 pt-lg-3">
      <h1 class="display-4 fw-bold lh-1 text-muted mb-3">Crie o seu currículo para a área de tecnologia gratuitamente!</h1>
      <p class="lead text-muted mb-3">Desenvolvido especialmente para estudantes e profissionais na área de tecnologia que
        desejam montar um currículo que se destaque, mostrando as suas experiências e habilidades de forma especial. <br> 
        Cadastre-se e monte o seu agora mesmo:
      </p>
      <% if (!sessao) { %> 
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a href="/login" class="btn btn-primary btn-lg px-4 me-md-2 fw-bold">Entrar</a>
        <a href="/cadastrar" class="btn btn-outline-secondary btn-lg px-4">Cadastrar</a>
      </div>
      <% } %> 
    </div>
    <div class="ms-0 col-lg-5 p-0 overflow-hidden shadow-lg">
      <img class='rounded border border-dark' src="./images/exemplo.png" alt="" width="720">
    </div>
  </div>
</div>

<%- include('./partials/footer.ejs') %>